html
  scroll-behavior: smooth
.main
  margin: 0 auto
  padding: 0
.product
  min-height: 400px !important
  height: 450px
  img
    width: 193.5px
    height: 280px
    object-fit: cover
.scroller
  background: white
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
  width: 50px
  height: 50px
  position: fixed
  bottom: 65px
  right: 25px
  border-radius: 100%
  display: none
  z-index: 999999
.scroller_a
  width: 50px
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  color: black
  font-size: 25px
.mobile_hotbar
  text-align: center
  display: flex
  position: fixed
  background-color: #e4e4e4
  bottom: 0px
  width: 100vw
  z-index: 99999
  justify-content: space-between
.mobile_hotbar a
  color: #000 !important
.mobile_hotbar a:hover
  color: #ee204d !important