header
  margin: $base-margin 0 !important
  font-size: $font-family-base
  transform: none
  .logotype
    svg
      width: 100%
  .line
    width: auto
    height: 5px
    background: black
    display: block
    transition: all .3s ease-out
    border-radius: 1rem
  .third-line
    transition: none
  .hamburger
    height: 40px
    width: 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: all 1s ease-out
    position: absolute
    top: 12.75px
    z-index: 1001
  .hamburger__menu_closed
    display: none
  .hamburger__menu_opened
    display: block
    height: 101vh
    margin-top: -15px
    display: block
    position: fixed
    z-index: 1000
    background: white
    width: 100vw
    .hamb__meny-item
      margin-top: 15px
      border-top: 2px #c8c8c8 solid
      a
        color: #000
    .search_h
      .control
        width: 300px
        margin: auto
    transition: transform 0.2s
    padding-top: 4rem
  .hamburger_active
    position: fixed
    .second-line
      transform: rotate(45deg)
    .first-line
      position: relative
      top: 17.5px
      transform: rotate(-45deg)
    .third-line
      opacity: 0
  .close__hamburger
    display: none
.control
  input
    width: 90%
    box-shadow: none
  span
    background-color: #f1f1f1
    box-shadow: none
    border-radius: 0 4px 4px 0
    z-index: 1000000
    margin-left: 100px
    pointer-events: auto !important
@import "navbar"