header
  margin: $base-margin 0 !important
  font-size: $font-family-base
  .logotype
    svg
      width: 100%
  .line
    width: auto
    height: 5px
    background: black
    display: block
    transition: all .3s ease-out
    border-radius: 1rem
  .third-line
    transition: none
  .hamburger
    height: 40px
    width: 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: all 1s ease-out
    position: absolute
    top: 12.75px
  .hamburger:hover
    .second-line
      transform: rotate(45deg)
    .first-line
      position: relative
      top: 17.5px
      transform: rotate(-45deg)
    .third-line
      opacity: 0
  @import "navbar"